* {
    background-color: white;
    font-family:"Courier New", Courier, monospace;
    box-sizing: border-box;
}

.title {
    display: block;
    font-size: 80px;
    background-color: rgb(11, 167, 167);
    color: white;
    height: auto;
    width: 800px;
    text-align: center;
    margin: 0 auto;
}

.recipe, .steps {
    display: inline-block;
    color: rgb(11, 167, 167);
}

.list.home {
    display: block;
    font-size: 30px;
    color: rgb(11, 167, 167);
}


#image {
    display: block;
    height: 400px;
    width: auto;
    margin: 30px auto;
}

#heading {
    display: block;
    font-size: 40px;
    color: white;
    background-color: rgb(11, 167, 167);
    height: auto;
    width: 800px;
    text-align: center;
    margin: 0 auto;
}