body {
    background-color: rgb(11, 167, 167);
    font-family:"Courier New", Courier, monospace;
    color: white;
}

.title {
    font-size: 80px;
}

.list.home {
    font-size: 30px;
}

#image {
    height: 400px;
    width: auto;
}

#heading {
    font-size: 40px;
}